@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'poppins', Arial, sans-serif;
    font-weight: 600;
}
body{
    background-color: #121213;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    row-gap: 10px;
}

.nav_bar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 15px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.425);
}

.first-alpha{
    font-size: 30px;
    color: goldenrod;
}

.header{
    width: 100%;
    font-size: 25px;
    letter-spacing: 0.5px;
    color: white;
}

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 4px;
    border-radius: 50%;
    cursor: pointer;
}

.profile_link{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_icon{
    width: 25px;
}

/* GRID */
.grid{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    height: 50%;
    max-height: 500px;
    aspect-ratio: 1.6/2;
    margin: 0px 8px;
    align-items: center;
    justify-items: center;
    gap: 8px;
    padding: 10px;
}
.each_cell{
    width: 100%;
    height: 100%;
    outline: 2px solid rgba(128, 128, 128, 0.361);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.cell_val{
    position: absolute;
    color: white;
    text-transform: uppercase;
}

/* KEYBOARD */
.keyboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 6px;
    width: 100%;
    max-width: 480px;
    padding: 0px 5px;
    padding-bottom: 8px;
}
.key_row{
    display: flex;
    column-gap: 6px;
    width: 100%;
    justify-content: center;
}
.key_row_2{
    padding: 0px 20px;
}
.each_key{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    width: 11%;
    height: 58px;
    font-size: 15px;
    border-radius: 5px;
    background-color: #525353;
    color: white;
    border: none;
    opacity: 1;
}
.each_key:hover{
    color: goldenrod;
}

.enter, .delete{
    width: 65px;
    height: 58px;
    background-color: #525353;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 0px 5px;
}
.enter:hover{
    color: goldenrod;
}
.delete_icon{
    margin: 4px 2px 0px 0px;
    fill: white;
    width: 25px;
}
.delete_icon:hover{
    fill: goldenrod;
}



/* V I B R A T E    A N I M A T I O N */
.vibrate{
    animation: shake 0.3s;
}

@keyframes shake {
    0%{transform: translateX(-5px)}
    20%{transform: translateX(+5px)}
    40%{transform: translateX(-5px)}
    60%{transform: translateX(+5px)}
    80%{transform: translateX(-5px)}
    100%{transform: translateX(+5px)}
}

/* W A V E    A N I M A T I O N  */
.wave{
    animation: jump 1s;
}

@keyframes jump {
    0%{transform: translateY(-5px)};
    25%{transform: translateY(-8px)};
    45%{transform: translateY(-12px)};
    65%{transform: translateY(+5px)};
    85%{transform: translateY(+5px)};
    100%{transform: translateY(0px)};
}


/* F L I P    C O L O R    A N I M A T I O N */
.flip{
    transition: 0.6s;
    transform: rotateX(90deg);
}


/* A L E R T */
.alert{
    position: absolute;
    z-index: 20;
    color: black;
    top: 70px;
    flex-wrap: wrap;
    margin: 2px 5px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    text-align: center;
    background-color: gold;
    animation: alert_fade 1s;
    display: none;
}

@keyframes alert_fade {
    20%{opacity: 0.8}
    40%{opacity: 0.6}
    60%{opacity: 0.4}
    80%{opacity: 0.2}
    100%{opacity: 0.0}
}